body{
    background-color: #10454F;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
.header-1-line-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: calc(5px + 0.7vw);
    margin-right: 10px;
    letter-spacing: -0.015em;
}
.container-1{
    margin: 12px 0 36px 36px;
}
.header-1-time-work {
    border: 3px solid #F99058;
    border-radius: 12px;
    padding: 5px;
    color: #F99058;
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 5px;

}

.header-1-img{
    margin-right: 10px;
}
.link{
    color: white;
    font-size: calc(5px + 0.8vw);
    text-decoration: none;
    white-space: nowrap;
}

.header-2-line-info{
    display: flex;
    align-items: center;
    margin: -5% 0 32px 32px ;
    justify-content: space-evenly;
}

.heading{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 1.5vw);
    line-height: 44px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    margin-right: calc(10px + 17vw);
    white-space: nowrap;
}
.link-menu{
    margin-top: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(10px + 0.5vw);
    line-height: normal;
    letter-spacing: 0.1em;
    color: #F99058;
    text-align: center;

}
.link-header-2-menu{
    margin-right: 50px;
    text-decoration: none;
    color: #F99058;
}
.logo{
    width: calc(10px + 15vw);
}
.main-page-photo-1{
    margin-top: -3%;
    width: 100%;
    height: calc(10px + 70vw);
    background-image: url("static/main-page-photo1.svg");
    background-size: cover;
}
.info-place-1{
    display: flex;
    padding-left: 10%;
    margin-top: 10%;
    width: 82%;
    margin-bottom: 10%;
    height: calc(10px + 52vw);

}
.info-photo-1{
    width: 50%;
    height: calc(10px + 52vw);
    margin-right: 5%;
}
.photo1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info-title{
    display: inline-block;
    margin-bottom: 5%;
    color: #F99058;
    font-size: calc(10px + 3vw);
    white-space: nowrap;
}
.info-txt-1{
    color: #FFFFFF;
    font-size: 1.6vw;
    margin-bottom: 2.3vw;
}
.booking-link{
    text-decoration: none;
}
.booking-link span{
    font-size: 1.5vw;
    color: #F99058;
    border: 3px solid #F99058;
    border-radius: 12px;
    padding: 2%;
}
.flip-text{
    writing-mode: vertical-rl;
    color: #F99058;
    font-size: 1.5vw;
    padding-left: 3%;
}
.line{
    border: 1px solid #F99058;
}
.info-place-2{
    display: flex;
    padding-left: 10%;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 10%;
    height: calc(10px + 42vw);
}
.info-txt-2{
    color: #FFFFFF;
    font-size: 1.6vw;
    margin-bottom: 5.3vw;
    letter-spacing: calc(0.1em + 0.05vw);
}
.more-info{
    text-decoration: none;
}
.more-info span{
    font-size: 1.5vw;
    color: #F99058;
    border: 3px solid #F99058;
    border-radius: 12px;
    padding: 2%;
}
.info-photo-2{
    width: 50%;
    height: calc(10px + 42vw);
    padding-left: 6%;
}
.photo2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-place-3{
    display: flex;
    padding-left: 10%;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 10%;
    height: calc(10px + 50vw);
}
.info-txt-3{
    color: #FFFFFF;
    font-size: 1.5vw;
    padding-top: 10%;
    letter-spacing: 0.24vw;
    margin-right:5%;
}
.info-photo-3{
    width: 59.5%;
    height: calc(10px + 50vw);
    padding-left: 5%;
}
.photo3{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-place-4{
    display: flex;
    padding-left: 10%;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 20%;
    height: calc(10px + 40vw);
}
.info-photo-4{
    width: 55%;
    height: calc(10px + 40vw);
    margin-right: 5%;
}
.photo4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-txt-4{
    font-size: 1.5vw;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}
.check{
    height: 100vw;
}
.info-place-5{
    padding-left: 10%;
    margin-top: 10%;
    width: 80%;
    margin-bottom: 15%;
    height: calc(10px + 68.5vw);
}
.info-photo-5{
    width: 100%;
    height: calc(10px + 45vw);
}
.photo5{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info-txt-5 {
    width: 100%;
    height: calc(10px + 15vw);
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 0.1vw;
    font-size: calc(10px + 0.5vw);
}
.info-title-1{
    display: inline-block;
    padding-bottom: 0.5%;
    color: #F99058;
    font-size: calc(10px + 3vw);
    white-space: nowrap;
}
.txt-5-span1{
    color: #F99058;
    font-size: calc(10px + 1vw);
}
.txt-5-p1{
    font-size: calc(10px + 2vw);
    margin-bottom: 5vw;
    margin-top: -0.2vw;
}
.info-place-6{
    display: flex;
    padding-left: 10%;
    margin-top: 15%;
    width: 80%;
    margin-bottom: 15%;
    height: calc(10px + 30vw);
    border-right: 2px solid #F99058;
}
.info-txt-6{
    display: block;
    color: #FFFFFF;
    font-size: calc(10px + 1vw);
    white-space: nowrap;
}
.for-push{
    margin-right: 35.5%;
}
.hr1{
    border: 2px solid #F99058;
}
.last-info-place{
    padding-top: 3%;
    width: 80%;
    padding-left: 10%;
    height: calc(1px + 40vw);
}
.last-info-place h1 {
    margin-bottom: 5%;
    color: #FFFFFF;
    font-size: calc(10px + 2.3vw);
    white-space: nowrap;
}
.last-info-place span{
    color: #FFFFFF;
    font-size: calc(10px + 1vw);
    margin-bottom: 10%;
}
.contact{
    color: #FFFFFF;
    font-size: calc(10px + 1vw);
    margin-bottom: 2%;
    margin-top: -0.5%;
}
.live-but{
    padding-top: 2%;
    padding-bottom: 2%;
}
.move-butt{
    margin-right: -1%;
}
.last-info-place-work-time {
    color: #F99058;
    font-size: calc(10px + 1vw);
}
.last-info-place-phone{
    display: flex;
    align-items: center;
}
.last-info-place-place{
    display: flex;
    align-items: center;
}
.last-info-place-mail{
    display: flex;
    align-items: center;
}
.container-2 img{
    margin-right: 1%;
}
.container-2 p{
    margin-bottom: 0.1%;
}
