body{
    background-color: #10454F;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
.header-1-line-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: calc(5px + 0.7vw);
    margin-right: 10px;
    letter-spacing: -0.015em;
}
.container-1{
    margin: 12px 0 36px 36px;
}
.header-1-time-work {
    border: 3px solid #F99058;
    border-radius: 12px;
    padding: 5px;
    color: #F99058;
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 5px;

}

.header-1-img{
    margin-right: 10px;
}
.link{
    color: white;
    font-size: calc(5px + 0.8vw);
    text-decoration: none;
    white-space: nowrap;
}

.header-2-line-info{
    display: flex;
    align-items: center;
    margin: -5% 0 32px 32px ;
    justify-content: space-evenly;
}

.heading{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 1.5vw);
    line-height: 44px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    margin-right: calc(10px + 17vw);
    white-space: nowrap;
}
.link-menu{
    margin-top: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(10px + 0.5vw);
    line-height: normal;
    letter-spacing: 0.1em;
    color: #F99058;
    text-align: center;

}
.link-header-2-menu{
    margin-right: 50px;
    text-decoration: none;
    color: #F99058;
}
.logo{
    width: calc(10px + 15vw);
}
.main-page-photo-1{
    margin-top: -5%;
    width: 100%;
    height: calc(10px + 70vw);
    background-image: url("static/main-page-photo1.svg");
    background-size: cover;
}
.info-place-1{
    display: flex;
    padding-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: calc(10px + 52vw);

}
.info-place-1-photo{
    width: 50%;
    height: calc(10px + 52vw);
    background-image: url("static/main-page-photo2.svg");
    background-size: cover;
    margin-right: 5%;
}
.info-title-1{
    display: inline-block;
    margin-bottom: 5%;
    margin-top: -2%;
    color: #F99058;
    font-size: calc(10px + 3vw);
    white-space: nowrap;
}
.info-txt-1{
    color: #FFFFFF;
    font-size: 1.6vw;
    margin-bottom: 8%;

}
.booking-link{
    text-decoration: none;
}
.booking-link span{
    font-size: 1.5vw;
    color: #F99058;
    border: 3px solid #F99058;
    border-radius: 12px;
    padding: 2%;
}
.flip-text{
    writing-mode: vertical-rl;
    color: #F99058;
    font-size: 1.5vw;
    padding-left: 2%;
}
.line{
    padding-top: 5%;
    border: 1px solid #F99058;
}
.check{
    height: 100vw;
}