{% load static %}
<!DOCTYPE html>
<html lang="eu">
<head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
        <title>KEOB</title>
</head>
<body>
<div class="header1">
        <div class="container-1">
                <div class="header-1-line-info">
                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-1-time.svg' %}" alt="">
                                <div class="header-1-time-work">
                                        ЕЖЕДНЕВНО С 10:00 ДО 00:00
                                </div>

                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-2-header-place.svg' %}" alt="">
                                <a target="_blank"
                                   class="link" href="https://yandex.ru/maps/1/moscow-and-moscow-oblast/geo/mikrorayon_r
                                        ezidens/53206855/?ll=37.263529%2C55.907983&z=16">
                                        Московская область, Солнечногорский район, микрорайон Резиденс
                                </a>
                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-3-phone.svg' %}" alt="">
                                +7(567)456-93-99
                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/static/image-4-mail.svg' %}" alt="">
                                keob@moscow
                        </div>
                        </div>
                </div>
        </div>
        <div class="main">
                <div class="header-2-line-info">
                        <div>
                                <img class="logo" src="{% static 'main/img/logo.svg' %}" alt="" >
                        </div>
                        <div class="heading">
                                КОРЕЙСКИЙ РЕСТОРАН “KEOB”
                                <div class="link-menu">
                                        <a class="link-header-2-menu" href="#">О НАС</a>
                                        <a class="link-header-2-menu" href="#">МЕНЮ</a>
                                        <a class="link-header-2-menu" href="#">ГАЛЕРЕЯ</a>
                                        <a class="link-header-2-menu" href="#">ДОСТАВКА</a>
                                </div>
                        </div>
                </div>
                <div class="main-page-photo-1">
                </div>
        </div>


<div class="info-place-1">
        <div class="info-photo-1">

        </div>
                <div class="txt1"><span class="info-title">О РЕСТОРАНЕ</span>
                        <div class="info-txt-1">Корейский ресторан Keob приглашает<br>
                                всех желающих в гости. Вы<br>
                                познакомитесь с рестораном,<br>
                                выполненным в лучших корейских<br>
                                традициях, потрясающая корейская<br>
                                кухня оставит только приятные<br>
                                впечатления. Только здесь самые лучшие<br>
                                блюда и приветливый персонал.<br><br><br><br>

                                Днем Keob - для деловых встреч и<br>
                                семейных обедов, а вечером<br>
                                превращается в место для особого<br>
                                повода и романтических ужинов.<br>
                                Панорамные окна, вид на благородный<br>
                                хвойный лес и живая музыка - лучшие<br>
                                спутники для хоршего<br>
                                времяпрепровождения !
                        </div>
                        <a class="booking-link" href="#">
                                <span>забронировать</span>
                        </a>
                </div>
        <div class="flip-text">
                О нас
                <div class="line"></div>
        </div>

</div>
<div class="info-place-2">
        <div class="txt2">
                <span class="info-title">ДОСТАВКА И<BR>ОПЛАТА</span>
                <div class="info-txt-2">Корейский ресторан Keob<br>производит доставку в Москве.<br>
                        Каждый посетитель нашего<br>
                        сайта может заказать блюда с<br>
                        доставкой домой или офис. При<br>
                        заказе вы получите подарок или<br>
                        приятный бонус. О возможности<br>
                        получить подарок, вы можете<br>
                        узнать у администратора<br>
                        ресторана по телефону<br>
                        +7(567)456-93-99
                </div>
                <a class="more-info" href="#">
                        <span>подробнее</span>
                </a>
        </div>
        <div class="info-photo-2">
                <img class="photo2" src="{% static 'main/img/main-page-photo3.svg' %}" alt="">
        </div>
</div>
<div class="info-place-3">
        <div class="txt3">
                <span class="info-title">ИНТЕРЬЕР</span>
                <div class="info-txt-3">
                        Интерьер нашего ресторна<br>
                        очень необычен. Наш<br>
                        ресторан внутри и снаружи<br>
                        находится в окружении<br>
                        потрясающего леса. С<br>
                        наружи ресторана есть<br>
                        зона на открытом воздухе<br>
                        для любителей насладиться<br>
                        хвойными ароматами леса.<br>
                        Мягкие кресла и запах<br>
                        костра, подарят вам<br>
                        незабываемые впечатления!
                </div>
        </div>
        <div class="info-photo-3">
                <img class="photo3" src="{% static 'main/img/main-page-photo4.svg' %}" alt="">
        </div>

</div>
<div class="info-place-4">
        <div class="info-photo-4">
                <img class="photo4" src="{% static 'main/img/main-page-photo5.svg' %}" alt="">
        </div>
        <div class="info-txt-4">

        </div>
</div>
<div class="check">

</div>
</body>
</html>