{% load static %}
<!DOCTYPE html>
<html lang="eu">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'main/css/style-main.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap"
              rel="stylesheet">
        <title>KEOB</title>
</head>
<body>
<div class="header1">
        <div class="container-1">
                <div class="header-1-line-info">
                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-1-time.svg'%}" alt="">
                                <div class="header-1-time-work">
                                        ЕЖЕДНЕВНО С 10:00 ДО 00:00
                                </div>

                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-2-header-place.svg'%}" alt="">
                                <a target="_blank"
                                   class="link" href="https://yandex.ru/maps/1/moscow-and-moscow-oblast/geo/mikrorayon_r
                                        ezidens/53206855/?ll=37.263529%2C55.907983&z=16">
                                        Московская область, Солнечногорский район, микрорайон Резиденс
                                </a>
                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-3-phone.svg'%}" alt="">
                                +7(567)456-93-99
                        </div>

                        <div class="header-1-line-info">
                                <img class="header-1-img" src="{% static 'main/img/image-4-mail.svg'%}" alt="">
                                keob@moscow
                        </div>
                        </div>
                </div>
        </div>
        <div class="main">
                <div class="header-2-line-info">
                        <div>
                                <a href="{% url 'home' %}"><img class="logo" src="{% static 'main/img/logo.png'%}" alt="" ></a>
                        </div>
                        <div class="heading">
                                КОРЕЙСКИЙ РЕСТОРАН “keob”
                                <div class="link-menu">
                                        <a class="link-header-2-menu" href="    #about">О НАС</a>


                                        <a class="link-header-2-menu" href="{% url 'menu' %}">МЕНЮ</a>
                                        <a class="link-header-2-menu" href="#gallery">ГАЛЕРЕЯ</a>
                                        <a target="_blank" class="link-header-2-menu" href="{% url 'delivery' %}">ДОСТАВКА</a>
                                </div>
                                 <div class="button_log">
                                        <a class="link_log" href="{% url 'log' %}"><span class="button">войти</span></a>
                                        <a class="link_log" href="{% url 'logout' %}"><span class="button">выйти</span></a>
                                 </div>
                        </div>
                </div>
                <div class="main-page-photo-1">
                        <img class="main-photo" src="{% static 'main/img/main-page-photo1.svg'%}" alt="">
                </div>
        </div>


<div class="info-place-1">
        <div id="about" class="info-photo-1">
                <img class="photo1" src="{% static 'main/img/main-page-photo2.svg'%}" alt="">
        </div>
                <div class="txt1"><span class="info-title">О РЕСТОРАНЕ</span>
                        <div class="info-txt-1">Корейский ресторан Keob приглашает<br>
                                всех желающих в гости. Вы<br>
                                познакомитесь с рестораном,<br>
                                выполненным в лучших корейских<br>
                                традициях, потрясающая корейская<br>
                                кухня оставит только приятные<br>
                                впечатления. Только здесь самые лучшие<br>
                                блюда и приветливый персонал.<br><br><br><br>

                                Днем Keob - для деловых встреч и<br>
                                семейных обедов, а вечером<br>
                                превращается в место для особого<br>
                                повода и романтических ужинов.<br>
                                Панорамные окна, вид на благородный<br>
                                хвойный лес и живая музыка - лучшие<br>
                                спутники для хоршего<br>
                                времяпрепровождения !
                        </div>
                        <a class="booking-link" href="{% url 'book' %}">
                                <span>забронировать</span>
                        </a>
                </div>
        <div class="flip-text">
                О нас
                <div class="line"></div>
        </div>

</div>
<div class="info-place-2">
        <div class="txt2">
                <span class="info-title">ДОСТАВКА И<BR>ОПЛАТА</span>
                <div class="info-txt-2">Корейский ресторан Keob<br>производит доставку в Москве.<br>
                        Каждый посетитель нашего<br>
                        сайта может заказать блюда с<br>
                        доставкой домой или офис. При<br>
                        заказе вы получите подарок или<br>
                        приятный бонус. О возможности<br>
                        получить подарок, вы можете<br>
                        узнать у администратора<br>
                        ресторана по телефону<br>
                        +7(567)456-93-99
                </div>
                <a class="more-info" href="{% url 'delivery' %}">
                        <span>подробнее</span>
                </a>
        </div>
        <div class="info-photo-2">
                <img class="photo2" src="{% static 'main/img/main-page-photo3.svg'%}" alt="">
        </div>
</div>
<div id ="gallery" class="info-place-3">
        <div class="txt3">
                <span class="info-title">ИНТЕРЬЕР</span>
                <div class="info-txt-3">
                        Интерьер нашего ресторна<br>
                        очень необычен. Наш<br>
                        ресторан внутри и снаружи<br>
                        находится в окружении<br>
                        потрясающего леса. С<br>
                        наружи ресторана есть<br>
                        зона на открытом воздухе<br>
                        для любителей насладиться<br>
                        хвойными ароматами леса.<br>
                        Мягкие кресла и запах<br>
                        костра, подарят вам<br>
                        незабываемые впечатления!
                </div>
        </div>
        <div class="info-photo-3">
                <img class="photo3" src="{% static 'main/img/main-page-photo4.svg'%}" alt="">
        </div>

</div>
<div class="info-place-4">
        <div class="info-photo-4">
                <img class="photo4" src="{% static 'main/img/main-page-photo5.svg'%}" alt="">
        </div>
        <div class="info-txt-4">
                На первом этаже находится<br>
                зона для отдыха, с мягими<br>
                креслами и уютной<br>
                домашней атмосферой.<br>
                Здесь, в тихой и спокойной<br>
                атмосфере вы можете<br>
                уединиться в компании<br>
                семьи, друзей, коллег.<br>
                На втором этаже<br>
                находится основной<br>
                ресторан с великолепным<br>
                открывающимся видом и<br>
                потрясающим интерьером.<br>
                <br>
                <br>
                А также на территории<br>
                нашего ресторана<br>
                находится потрясающий<br>
                водопад, на фоне которого<br>
                вы сможете сделать<br>
                необычные фото!
        </div>
</div>
<div class="info-place-5">
        <span class="info-title-1">АКЦИИ И СКИДКИ</span>
        <div class = info-photo-5>
                <img  class="photo5" src="{% static 'main/img/main-page-photo6.svg'%}" alt="">
        </div>
        <div class="info-txt-5">
                <div class="txt-5">
                        <span class="txt-5-span1">СКИДКА - 15 %</span>
                        <p class="txt-5-p1">В день рождения</p>
                        <p>Скидка 15 % предоставляется только держателем электронных карт.</p>
                </div>
        </div>
</div>
        <div class="info-place-6">
                <div class="for-push">
                        <span class="info-title">СЕРТИФИКАТЫ</span>
                        <div class="info-txt-6">
                                Современный ресторан - это всегда история о жизни.<br>
                                Блюда, не оставят равнодушным никого.<br>
                                Подарите незабываемые впечатления своим близким.<br>
                                Подарочные сертификаты 2000, 5000, 7000 и 10000 рублей<br>
                                вы можете приобрести в ресторане.<br>
                                <br>
                                <br>
                                Оригинальный подарок к любому празднику!
                        </div>
                </div>
        </div>
<hr class="hr1">
<div class="last-info-place">
        <h1>МЫ ЖДЕМ ВАС В ГОСТИ В РЕСТОРАНЕ “Keob”</h1>
        <span class="spam-1">Также вы можете поделиться<br>впечатлениями о нашем ресторане</span>
        <div class="live-but">
                <a target="_blank" class="move-butt" href="{% url 'com' %}"><img src="{% static 'main/img/Ellipse 1.svg'%}" alt=""></a>
                <a target="_blank" href="{% url 'com' %}"> <img src="{% static 'main/img/Ellipse 2.svg'%}" alt=""></a>
        </div>
        <div>
                <p class="contact">КОНТАКТЫ:</p>
                <div class="container-2">
                        <div class="last-info-place-phone">
                                <img src="{% static 'main/img/image-3-phone.svg'%}" alt="">
                                <p class="txt-in-conteiner-2">+7(567)456-93-99</p>
                        </div>
                        <div class="last-info-place-place">
                                <img src="{% static 'main/img/image-2-header-place.svg'%}" alt="">
                                <p class="txt-in-conteiner-2">Московская область, Солнечногорский район,<br>
                                        микрорайон Резиденс.</p>
                        </div>
                        <div class="last-info-place-mail">
                                <img src="{% static 'main/img/image-4-mail.svg'%}"alt="">
                                <p class="txt-in-conteiner-2">keob@moscow</p>
                        </div>
                        <p class="last-info-place-work-time">ЕЖЕДНЕВНО С 10:00 ДО 00:00</p>
                </div>
        </div>
</div>
<div class="check">
</div>
</body>
</html>