{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style-menu.css'%}">
    <title>меню</title>
</head>
    <div class="header">
        <div class="container">
            <div class="header-line-1">
                <a href="#">
                    <div class="order">
                        <div class="cart">
                            <img  class="cart-photo" src="{% static 'main/img/order.svg'%}" alt="">
                        </div>
                        <span>корзина</span>
                    </div>
                </a>
                <div class="logo">
                    <a href="{% url 'home' %}"><img class="logo-photo" src="{% static 'main/img/logo.png'%}" alt=""></a>
                </div>
                <div class="info">
                    <div class="main-title-1">
                        МЕНЮ РЕСТОРАНА ”Keob”
                    </div>
                    <div class="info">
                        <div class="info-unit">
                            <img src="{% static 'main/img/image-2-header-place.svg'%}" alt="">
                            Московская область, Солнечногорский район, микрорайон Резиденс
                        </div>
                        <div class="info-unit">
                            <img src="{% static 'main/img/image-3-phone.svg'%}" alt="">
                            +7(567)456-93-99
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="menu-link">
        <a class="link" href="#breakfast">Завтраки</a>
        <a class="link" href="#sushi rolls">Суши и ролы</a>
        <a class="link" href="#snacks and salads">Закуски и салаты</a>
        <a class="link" href="#soup">Супы</a>
        <a class="link" href="#hot meal">Горячие блюда</a>
        <a class="link" href="#dish with wok">Блюда с вока</a>
        <a class="link" href="#desserts">Десерты</a>
        <a class="link" href="#drink">Напитки</a>
</div>
<div id="breakfast">
    <div class="title-1-lvl">Завтраки</div>
    <hr class="line-1">
    <div class="title-2-lvl">Тосты и драники</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{1.photo.url}}" alt="{{1.photo.url}}" >
            </div>
            <div class="food-title">
                {{1.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{1.weight}}
                </div>
                <div class="food-costs">
                    {{1.cost}} р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{2.photo.url}}" alt="{{2.photo.url}}">
            </div>
            <div class="food-title">
                {{2.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{2.weight}}
                </div>
                <div class="food-costs">
                    {{2.cost}} р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{3.photo.url}}" alt="{{3.photo.url}}">
            </div>
            <div class="food-title">
                {{3.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{3.weight}}
                </div>
                <div class="food-costs">
                    {{3.cost}}р
                </div>
            </div>
        </div>
    </div>
        <div class="title-2-lvl">Тосты и драники</div>
        <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{4.photo.url}}" alt="{{4.photo.url}}">
            </div>
            <div class="food-title">
                {{4.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{4.weight}}
                </div>
                <div class="food-costs">
                    {{4.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{5.photo.url}}" alt="{{5.photo.url}}">
            </div>
            <div class="food-title">
                {{5.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{5.weight}}
                </div>
                <div class="food-costs">
                    {{5.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{6.photo.url}}" alt="{{6.photo.url}}">
            </div>
            <div class="food-title">
                {{6.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{6.weight}}
                </div>
                <div class="food-costs">
                    {{6.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{7.photo.url}}" alt="{{7.photo.url}}">
            </div>
            <div class="food-title">
                {{7.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{7.weight}}
                </div>
                <div class="food-costs">
                    {{7.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{8.photo.url}}" alt="{{8.photo.url}}">
            </div>
            <div class="food-title">
                {{8.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{8.weight}}
                </div>
                <div class="food-costs">
                    {{8.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{9.photo.url}}" alt="{{9.photo.url}}">
            </div>
            <div class="food-title">
                {{9.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{9.weight}}
                </div>
                <div class="food-costs">
                    {{9.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Каша</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{10.photo.url}}" alt="{{10.photo.url}}">
            </div>
            <div class="food-title">
                {{10.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{10.weight}}
                </div>
                <div class="food-costs">
                    {{10.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{11.photo.url}}" alt="{{11.photo.url}}">
            </div>
            <div class="food-title">
                {{11.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{11.weight}}
                </div>
                <div class="food-costs">
                    {{11.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{12.photo.url}}" alt="{{12.photo.url}}">
            </div>
            <div class="food-title">
                {{12.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{12.weight}}
                </div>
                <div class="food-costs">
                    {{12.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Панкейки</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{13.photo.url}}" alt="{{13.photo.url}}">
            </div>
            <div class="food-title">
                {{13.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{13.weight}}
                </div>
                <div class="food-costs">
                    {{13.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{14.photo.url}}" alt="{{14.photo.url}}">
            </div>
            <div class="food-title">
                {{14.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{14.weight}}
                </div>
                <div class="food-costs">
                    {{14.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{15.photo.url}}" alt="{{15.photo.url}}">
            </div>
            <div class="food-title">
                {{15.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{15.weight}}
                </div>
                <div class="food-costs">
                    {{15.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sushi rolls">
    <div class="title-1-lvl">Суши и роллы</div>
    <hr class="line-1">
    <div class="title-2-lvl">Нигири</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{16.photo.url}}" alt="{{16.photo.url}}">
            </div>
            <div class="food-title">
                {{16.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{16.weight}}
                </div>
                <div class="food-costs">
                    {{16.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{17.photo.url}}" alt="{{17.photo.url}}">
            </div>
            <div class="food-title">
                {{17.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{17.weight}}
                </div>
                <div class="food-costs">
                    {{17.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{18.photo.url}}" alt="{{18.photo.url}}">
            </div>
            <div class="food-title">
                {{18.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{18.weight}}
                </div>
                <div class="food-costs">
                    {{18.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Открытые суши</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{19.photo.url}}" alt="{{19.photo.url}}">
            </div>
            <div class="food-title">
                {{19.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{19.weight}}
                </div>
                <div class="food-costs">
                    {{19.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{20.photo.url}}" alt="{{20.photo.url}}">
            </div>
            <div class="food-title">
                {{20.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{20.weight}}
                </div>
                <div class="food-costs">
                    {{20.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{21.photo.url}}" alt="{{21.photo.url}}">
            </div>
            <div class="food-title">
                {{21.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{21.weight}}
                </div>
                <div class="food-costs">
                    {{21.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Роллы</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{22.photo.url}}" alt="{{22.photo.url}}">
            </div>
            <div class="food-title">
                {{22.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{22.weight}}
                </div>
                <div class="food-costs">
                    {{22.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{23.photo.url}}" alt="{{23.photo.url}}">
            </div>
            <div class="food-title">
                {{23.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{23.weight}}
                </div>
                <div class="food-costs">
                    {{23.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{24.photo.url}}" alt="{{24.photo.url}}">
            </div>
            <div class="food-title">
                {{24.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{24.weight}}
                </div>
                <div class="food-costs">
                    {{24.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{25.photo.url}}" alt="{{25.photo.url}}">
            </div>
            <div class="food-title">
                {{25.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{25.weight}}
                </div>
                <div class="food-costs">
                    {{25.сcost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{26.photo.url}}" alt="{{26.photo.url}}">
            </div>
            <div class="food-title">
                {{26.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{26.weight}}
                </div>
                <div class="food-costs">
                    {{26.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{27.photo.url}}" alt="{{27.photo.url}}">
            </div>
            <div class="food-title">
                {{27.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{27.weight}}
                </div>
                <div class="food-costs">
                    {{27.cost}}р
                </div>
            </div>
        </div>
    </div>
   <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{28.photo.url}}" alt="{{28.photo.url}}">
            </div>
            <div class="food-title">
                {{28.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{28.weight}}
                </div>
                <div class="food-costs">
                    {{28.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{28.photo.url}}" alt="{{28.photo.url}}">
            </div>
            <div class="food-title">
                {{28.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{28.weight}}
                </div>
                <div class="food-costs">
                    {{28.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{29.photo.url}}" alt="{{29.photo.url}}">
            </div>
            <div class="food-title">
                {{29.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{29.weight}}
                </div>
                <div class="food-costs">
                    {{29.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{30.photo.url}}" alt="{{30.photo.url}}">
            </div>
            <div class="food-title">
                {{30.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{30.weight}}
                </div>
                <div class="food-costs">
                    {{30.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{31.photo.url}}" alt="{{31.photo.url}}">
            </div>
            <div class="food-title">
                {{31.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{31.weight}}
                </div>
                <div class="food-costs">
                    {{31.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{32.photo.url}}" alt="{{32.photo.url}}">
            </div>
            <div class="food-title">
                {{32.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{32.weight}}
                </div>
                <div class="food-costs">
                    {{32.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{33.photo.url}}" alt="{{33.photo.url}}">
            </div>
            <div class="food-title">
                {{33.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{33.weight}}
                </div>
                <div class="food-costs">
                    {{33.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{34.photo.url}}" alt="{{34.photo.url}}">
            </div>
            <div class="food-title">
                {{34.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{34.weight}}
                </div>
                <div class="food-costs">
                    {{34.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{35.photo.url}}" alt="{{35.photo.url}}">
            </div>
            <div class="food-title">
                {{35.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{35.weight}}
                </div>
                <div class="food-costs">
                    {{35.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Поке и боулы</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{36.photo.url}}" alt="{{36.photo.url}}">
            </div>
            <div class="food-title">
                {{36.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{36.weight}}
                </div>
                <div class="food-costs">
                    {{36.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{37.photo.url}}" alt="{{37.photo.url}}">
            </div>
            <div class="food-title">
                {{37.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{37.weight}}
                </div>
                <div class="food-costs">
                    {{37.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{38.photo.url}}" alt="{{38.photo.url}}">
            </div>
            <div class="food-title">
                {{38.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{38.weight}}
                </div>
                <div class="food-costs">
                    {{38.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="snacks and salads">
    <div class="title-1-lvl">Салаты и закуски</div>
    <hr class="line-1">
    <div class="title-2-lvl">Спринг роллы</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{39.photo.url}}" alt="{{39.photo.url}}">
            </div>
            <div class="food-title">
                {{39.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{39.weight}}
                </div>
                <div class="food-costs">
                    {{39.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{40.photo.url}}" alt="{{40.photo.url}}">
            </div>
            <div class="food-title">
                {{40.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{40.weight}}
                </div>
                <div class="food-costs">
                    {{40.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{41.photo.url}}" alt="{{41.photo.url}}">
            </div>
            <div class="food-title">
                {{41.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{41.weight}}
                </div>
                <div class="food-costs">
                    {{41.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Салаты</div>
    <hr class="line-2">
   <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{42.photo.url}}" alt="{{42.photo.url}}">
            </div>
            <div class="food-title">
                {{42.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{42.weight}}
                </div>
                <div class="food-costs">
                    {{42.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{43.photo.url}}" alt="{{43.photo.url}}">
            </div>
            <div class="food-title">
                {{43.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{43.weight}}
                </div>
                <div class="food-costs">
                    {{43.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{44.photo.url}}" alt="{{44.photo.url}}">
            </div>
            <div class="food-title">
                {{44.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{44.weight}}
                </div>
                <div class="food-costs">
                    {{44.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{45.photo.url}}" alt="{{45.photo.url}}">
            </div>
            <div class="food-title">
                {{45.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{45.weight}}
                </div>
                <div class="food-costs">
                    {{45.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{46.photo.url}}" alt="{{46.photo.url}}">
            </div>
            <div class="food-title">
                {{46.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{46.weight}}
                </div>
                <div class="food-costs">
                    {{46.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{47.photo.url}}" alt="{{47.photo.url}}">
            </div>
            <div class="food-title">
                {{47.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{47.weight}}
                </div>
                <div class="food-costs">
                    {{47.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Вонтоны</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{48.photo.url}}" alt="{{48.photo.url}}">
            </div>
            <div class="food-title">
                {{48.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{48.weight}}
                </div>
                <div class="food-costs">
                    {{48.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{49.photo.url}}" alt="{{49.photo.url}}">
            </div>
            <div class="food-title">
                {{49.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{49.weight}}
                </div>
                <div class="food-costs">
                    {{49.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{50.photo.url}}" alt="{{50.photo.url}}">
            </div>
            <div class="food-title">
                {{50.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{50.weight}}
                </div>
                <div class="food-costs">
                    {{50.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="soup">
    <div class="title-1-lvl">Супы</div>
    <hr class="line-1">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{51.photo.url}}" alt="{{51.photo.url}}">
            </div>
            <div class="food-title">
                {{51.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{51.weight}}
                </div>
                <div class="food-costs">
                    {{51.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{52.photo.url}}" alt="{{52.photo.url}}">
            </div>
            <div class="food-title">
                {{52.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{52.weight}}
                </div>
                <div class="food-costs">
                    {{52.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{52.photo.url}}" alt="{{52.photo.url}}">
            </div>
            <div class="food-title">
                {{52.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{52.weight}}
                </div>
                <div class="food-costs">
                    {{52.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hot meal">
    <div class="title-1-lvl">Горячие блюда</div>
    <hr class="line-1">
    <div class="title-2-lvl">Кушияки (японские шашлычки на гриле)</div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{53.photo.url}}" alt="{{53.photo.url}}">
            </div>
            <div class="food-title">
                {{53.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{53.weight}}
                </div>
                <div class="food-costs">
                    {{53.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{54.photo.url}}" alt="{{54.photo.url}}">
            </div>
            <div class="food-title">
                {{54.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{54.weight}}
                </div>
                <div class="food-costs">
                    {{54.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{55.photo.url}}" alt="{{55.photo.url}}">
            </div>
            <div class="food-title">
                {{55.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{55.weight}}
                </div>
                <div class="food-costs">
                    {{55.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="title-2-lvl">Яки (глазированные мясо/рыба в соусе терияки«жареный») </div>
    <hr class="line-2">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{56.photo.url}}" alt="{{56.photo.url}}">
            </div>
            <div class="food-title">
                {{56.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{56.weight}}
                </div>
                <div class="food-costs">
                    {{56.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{57.photo.url}}" alt="{{57.photo.url}}">
            </div>
            <div class="food-title">
                {{57.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{57.weight}}
                </div>
                <div class="food-costs">
                    {{57.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{58.photo.url}}" alt="{{58.photo.url}}">
            </div>
            <div class="food-title">
                {{58.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{58.weight}}
                </div>
                <div class="food-costs">
                    {{58.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dish with wok">
    <div class="title-1-lvl">Блюда с вока</div>
    <hr class="line-1">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{59.photo.url}}" alt="{{59.photo.url}}">
            </div>
            <div class="food-title">
                {{59.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{59.weight}}
                </div>
                <div class="food-costs">
                    {{59.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{60.photo.url}}" alt="{{60.photo.url}}">
            </div>
            <div class="food-title">
                {{60.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{60.weight}}
                </div>
                <div class="food-costs">
                    {{60.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{61.photo.url}}" alt="{{61.photo.url}}">
            </div>
            <div class="food-title">
                {{61.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{61.weight}}
                </div>
                <div class="food-costs">
                    {{61.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{62.photo.url}}" alt="{{62.photo.url}}">
            </div>
            <div class="food-title">
                {{62.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{62.weight}}
                </div>
                <div class="food-costs">
                    {{62.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{63.photo.url}}" alt="{{63.photo.url}}">
            </div>
            <div class="food-title">
                {{63.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{63.weight}}
                </div>
                <div class="food-costs">
                    {{63.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{64.photo.url}}" alt="{{64.photo.url}}">
            </div>
            <div class="food-title">
                {{64.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{64.weight}}
                </div>
                <div class="food-costs">
                    {{64.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="desserts">
    <div class="title-1-lvl">Десерты</div>
    <hr class="line-1">
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{65.photo.url}}" alt="{{65.photo.url}}">
            </div>
            <div class="food-title">
                {{65.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{65.weight}}
                </div>
                <div class="food-costs">
                    {{65.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{66.photo.url}}" alt="{{66.photo.url}}">
            </div>
            <div class="food-title">
                {{66.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{66.weight}}
                </div>
                <div class="food-costs">
                    {{66.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{67.photo.url}}" alt="{{67.photo.url}}">
            </div>
            <div class="food-title">
                {{67.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{67.weight}}
                </div>
                <div class="food-costs">
                    {{67.cost}}р
                </div>
            </div>
        </div>
    </div>
    <div class="food-place">
        <div class="food-templates-1">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{68.photo.url}}" alt="{{68.photo.url}}">
            </div>
            <div class="food-title">
                {{68.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{68.weight}}
                </div>
                <div class="food-costs">
                    {{68.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{69.photo.url}}" alt="{{69.photo.url}}">
            </div>
            <div class="food-title">
                {{69.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{69.weight}}
                </div>
                <div class="food-costs">
                    {{69.cost}}р
                </div>
            </div>
        </div>
        <div class="food-templates">
            <div class="photo-f-templates">
                <img class="food-photo" src="{{70.photo.url}}" alt="{{70.photo.url}}">
            </div>
            <div class="food-title">
                {{70.title}}
            </div>
            <div class="food-interface">
                <button class="food-cart-butt">
                    в корзину
                </button>
                <div class="food-weight">
                    {{70.weight}}
                </div>
                <div class="food-costs">
                    {{70.cost}}р
                </div>
            </div>
        </div>
    </div>
</div>
<div id="drink">
    <div class="title-1-lvl">Напитки безалкогольные</div>
    <hr class="line-1">
    <div class="title-2-lvl">Белый чай</div>
    <hr class="line-2">
    <div class="food-place">

    </div>
    <div class="title-2-lvl">Зеленый чай</div>
    <hr class="line-2">
    <div class="food-place">

    </div>
    <div class="food-place">

    </div>
    <div class="title-2-lvl">Красный чай</div>
    <hr class="line-2">
    <div class="food-place">

    </div>
    <div class="title-2-lvl">Улун и Пуэр</div>
    <hr class="line-2">
</div>
</html>