body{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 1% 5%;
    font-weight: bold;
    background: #10454F;
}
.logo{
    width: 20%;
    height: 15%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.logo-photo{
    vertical-align: center;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.header-line-1{
    margin-top: -1%;
}
.order{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    width: 11vh;
    height: 2vw;
    border-radius: 8px;
    background-color: #F99058;
    font-size:calc(1px + 0.8vw);
    max-width: 100%;
    position: absolute;
    font-weight: 600;
    padding: 0 0.7% 0 0.7%;
}
.cart-photo{
    width: 80%;
    height: 80%;
}
.main-title-1{
    margin-top: -7%;
    text-align: center;
    color: #F99058;
    font-size: calc(10px + 4vw);
    letter-spacing: 1vh ;
    margin-bottom: 1%;
}
.info-unit{
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    margin-bottom: 1vh;
    white-space: nowrap;
}
.vine-card{
    display: flex;
    color: white;
    border: 3px solid #FFFFFF;
    padding: 0.5% 0.7% 0.5% 0.7%;
    border-radius: 9px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    width: 13vh;
    font-size:calc(1px + 0.8vw);
    float: right;
}
.menu-link{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3vh;
}
.link{
    text-decoration: none;
    color: #F99058;
    margin-right: 2vw;
    font-size: 1.9vh;
}
.title-1-lvl{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2vh;
    margin-bottom: -2vh;
}
.title-2-lvl{
    color: #F99058;
    font-size: 2vh;
    margin-bottom: -1vh;
    margin-top: 5%;
}
.line-1{
    border: 1px solid #FFFFFF;
    margin-bottom: 3vh;
    margin-top: 2vh;
}
.line-2{
   border: 1px solid #F99058;
}
.food-place{
    display: flex;
    width: 100%;
    height: calc(10px + 60vh);
    margin-bottom: 5vh;
}
.food-templates{
    margin-top: 3%;
    width: 40%;
    height: 98%;
    border: 1px solid #FFFFFF;
    border-radius: 5vh;
    margin-left: 8%;
    background: #FFFFFF;
    overflow: hidden auto;
}
.food-templates-1{
    margin-top: 3%;
    width: 40%;
    height: 98%;
    border: 1px solid #FFFFFF;
    border-radius: 5vh;
    background: #FFFFFF;
    overflow: hidden auto;
}
.photo-f-templates{
    background: gray;
    width: 80%;
    height: 60%;
    margin: 10%;
    border-radius: 5vh;
}
.food-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vh;
}
.food-title{
    text-align: center;
    margin: -2vh 5% 5vh;
}
.food-interface{;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -2vh;
}
.food-cart-butt{
    color: #FFFFFF;
    background: #F99058;
    outline: none;
    border-radius: 12px;
    border: 1px solid #F99058;
    padding: 2.5% 5% 2.5% 5%;
    font-size: 1.5vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
.food-cart-butt:active{
    background: #10454F;
}
.food-costs{
    border: 1px solid #F99058;
    color: #F99058;
    border-radius: 10px;
    padding: 2% 8% 2% 8%;
    white-space: nowrap;
}
.food-weight{
    opacity: 0.5;
    margin-left: 4%;
    margin-right: 4%;
}
